body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient( 89.7deg,  rgba(0,0,0,1) -10.7%, rgba(53,92,125,1) 88.8% );
}

.navbar {
    display: flex;
    padding: 15px 30px;
    background-image: radial-gradient( circle 476px at 54.8% 51.5%,  rgba(168,229,253,1) 0%, rgba(244,244,254,1) 42.3%, rgba(244,244,254,1) 100.2% );
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #DA6D42;
    font-size: 40px;
    font-weight: bold;
}

.nav-links a{
    padding-left: 20px;
    text-decoration: none;
    color: #671e30;

}
    
.sidebar {
    width: 220px;
    /* background-color: #f2f2f2; */
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* TOP & BOTTOM separation */
    height: 185vh; /* Full screen height */

    --angle: 45deg; 
    background: linear-gradient(var(--angle), oklab(24.1% 0.027 0.01), oklab(47.1% 0.047 0.045), oklab(62.5% 0.041 0.039), oklab(82% 0.011 0.039), oklab(91.4% 0.009 0.02))
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: rgb(25, 2, 76);
}

.sidebar ul li {
    margin-bottom: 10px;
}

.gallery {
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

.sidebar-bottom a {
    display: block;
    margin-top: 10px;
    color: rgb(205, 248, 248);
}


.content {
    padding: 20px;
    flex: 1;
}

.content h2 {
    color: aqua;
}
.cards {
    display: flex;
    flex-wrap: wrap;   /* Move to next row */
    gap: 25px;
}


.card {
    border: 1px solid #ccc;
    padding: 0px;
    width: 200px;
    text-align: center;
    padding-bottom: 0px;
    background-color: black;
}

.card img {
    width: 200px;
    height: 225px;
}

.card h4 {
    color: azure;
}

.card p{ 
    color: red;
}

.main {
    display: flex;
}

.footer {
    text-align: center;
    color: #671e30;
     background-image: linear-gradient(
    180deg,
    hsl(240deg 71% 63%) 0%,
    hsl(236deg 67% 63%) 8%,
    hsl(231deg 62% 63%) 17%,
    hsl(227deg 57% 62%) 25%,
    hsl(222deg 53% 62%) 33%,
    hsl(217deg 48% 62%) 42%,
    hsl(211deg 43% 61%) 50%,
    hsl(213deg 41% 70%) 58%,
    hsl(214deg 39% 77%) 67%,
    hsl(214deg 37% 84%) 75%,
    hsl(215deg 36% 89%) 83%,
    hsl(215deg 35% 95%) 92%,
    hsl(0deg 0% 100%) 100%
  );
   margin-top: 0px;
   padding: 5px;

}